html, body {
    text-align: center;
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
}

span, input, button, p {
    font-size: 20px;
    font-family: arial;
}

input, button {
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.04);
    margin:5px;
}

input {
    margin-top: 17px;
    width: 100%;
    /*font-style: italic;
    color: gray;*/
}

#inputContainer, #outputContainer, div.wrapper{
    margin: 0% 10%;
}

#inputContainer {
    margin-top: 20px;
}

div.wrapper {
  display: flex;
  text-align: left;
}
div.left {
  flex: 0 0 65%;
}
div.right {
  flex: 1;
}